/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

* {
	border: none;
	border-radius: 0;
	font-family: Fira Code;
	font-size: 16px;
	min-height: 22px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 26px;
  transition: none;
  color: transparent;
  background: transparent;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
  color: #30383b;
  background: #e6e6e6;
}

/* Background Color */
/* #30383b */

/* Text Color */
/* #a4b8cf */

#workspaces {
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 14px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #a4b8cf;
  background: #30383b;
}

#workspaces button {
  color: #a4b8cf;
}

#window {
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #a4b8cf;
  background: #30383b;
  font-size: 14px;
}

#window.empty {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
}

#network {
  margin-top: 8px;
  margin-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #a4b8cf;
  background: #30383b;
}

#pulseaudio, #wireplumber {
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #a4b8cf;
  background: #30383b;
}

#custom-spotify {
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #a4b8cf;
  background: #30383b;
}

#tray {
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #a4b8cf;
  background: #30383b;
}

#temperature {
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #a4b8cf;
  background: #30383b;
}

#cpu {
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #a4b8cf;
  background: #30383b;
}

#memory {
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #a4b8cf;
  background: #30383b;
}

#clock {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
  border-radius: 26px;
  transition: none;
  color: #a4b8cf;
  background: #30383b;
}

